﻿@model Take02.ViewModels.RecipeViewModel

@{
    ViewData["Title"] = "Edit";
    var modelCount = Model.IngredientViewModels.Count;
    var addIngredientShown = false;
}

<h2>Edit</h2>

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">Library</label>
                @Html.DropDownListFor(m => m.LibraryId, Model.LibrarySelectListItems, null, new { @class = "form-control" })
                <span asp-validation-for="LibraryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">MixType</label>
                @Html.DropDownListFor(m => m.MixTypeId, Model.MixTypeSelectListItems, null, new { @class = "form-control" })
                <span asp-validation-for="MixTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Ingredients</label>
                <hr />
                @for (int i = 0; i < Model.IngredientViewModels.Count; i++)
                {
                    <input type="hidden" asp-for="IngredientViewModels[i].Id" />
                    <input type="hidden" asp-for="IngredientViewModels[i].Number" />
                    <label class="control-label">Quantity</label>
                    <input asp-for="IngredientViewModels[i].Quantity" class="form-control" />
                    <span asp-validation-for="IngredientViewModels[i].Quantity" class="text-danger"></span>
                    <br />
                    <label class="control-label">Unit</label>
                    @Html.DropDownListFor(m => m.IngredientViewModels[i].UnitId, Model.UnitSelectListItems, null, new { @class = "form-control" })
                    <span asp-validation-for="IngredientViewModels[i].UnitId" class="text-danger"></span>
                    <br />
                    <label class="control-label">Component</label>
                    @Html.DropDownListFor(m => m.IngredientViewModels[i].ComponentId, Model.ComponentSelectListItems, null, new { @class = "form-control" })
                    <span asp-validation-for="IngredientViewModels[i].ComponentId" class="text-danger"></span>
                    <span asp-validation-for="IngredientViewModels" class="text-danger"></span>
                    if (i > 0)
                    {
                        <br />
                        <a asp-action="MoveUp">Move Up</a>
                    }
                    if (i < modelCount - 1)
                    {
                        <br />
                        <a asp-action="MoveDown">Move Down</a>
                    }
                    if (i == modelCount - 1)
                    {
                        <br />
                        <a id="addIngredient" href="#">Add Ingredient</a>
                        addIngredientShown = true;
                    }
                    <hr />
                }
            </div>
            @if (!addIngredientShown)
            {
                <a id="addIngredient" href="#">Add Ingredient</a>
                <hr />
                addIngredientShown = true;
            }
            <div class="form-group">
                <label asp-for="Instructions" class="control-label"></label>
                <input asp-for="Instructions" class="form-control" />
                <span asp-validation-for="Instructions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Source" class="control-label"></label>
                <input asp-for="Source" class="form-control" />
                <span asp-validation-for="Source" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
