@model Take02.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Cocktails";
}

<div>
    <h2>Hottest Libraries</h2>
    <ul>
        @foreach(var library in Model.TopLibraries)
        {
            <li>
                <a asp-controller="Libraries" asp-action="Details" asp-route-id="@library.LibraryId">@library.LibraryName (@library.RecipeCount Recipes)</a>
            </li>
        }
    </ul>
</div>
<div>
    <h2>Administration</h2>
    <ul>
        <li><a asp-area="" asp-controller="ComponentTypes" asp-action="">ComponentTypes</a></li>
        <li><a asp-area="" asp-controller="Libraries" asp-action="">Libraries</a></li>
        <li><a asp-area="" asp-controller="Recipes" asp-action="">Recipes</a></li>
        <li><a asp-controller="Import" asp-action="index">Bulk Data Import</a></li>
    </ul>
</div>
